<% issues_list = {} %>
<%= form_tag({}) do -%>
    <%= hidden_field_tag 'back_url', url_for(params), :id => nil %>
    <div class="autoscroll">
      <table class="list issues">
        <thead>
        <tr>
          <th class="checkbox hide-when-print">
            <%= link_to image_tag('toggle_check.png'), {},
                        :onclick => 'toggleIssuesSelection(this); return false;',
                        :title => "#{l(:button_check_all)}/#{l(:button_uncheck_all)}" %>
          </th>
          <% query.inline_columns.each do |column| %>
              <%= column_header(column) %>
          <% end %>
        </tr>
        </thead>
        <% previous_group = false %>
        <% group_counter = 0 %>
        <tbody>
        <% issue_list(issues) do |issue, level| -%>
            <% if @query.grouped? %>
                <% issues_list[strip_tags(column_content(@query.group_by_column, issue)).split(" ").join("_")]  ||= [] %>
                <% issues_list[strip_tags(column_content(@query.group_by_column, issue)).split(" ").join("_")] << issue %>
            <% end %>
            <% if @query.grouped? && (group = @query.group_by_column.value(issue)) != previous_group %>
                <% reset_cycle %>
                <% 'group name' %>
                <% p column_content(@query.group_by_column, issue) %>
                <tr class="group open" id="group-<%= strip_tags(column_content(@query.group_by_column, issue)).split(" ").join("_")%>">
                  <td colspan="<%= query.inline_columns.size + 2 %>">
                    <span class="expander" onclick="toggleRowGroup(this);">&nbsp;</span>
                    <%= group.blank? ? l(:label_none) : column_content(@query.group_by_column, issue) %> <span class="count"><%= @issue_count_by_group[group] %></span>
                    <%= link_to_function("#{l(:button_collapse_all)}/#{l(:button_expand_all)}",
                                         "toggleAllRowGroups(this)", :class => 'toggle-all') %>
                  </td>
                </tr>
                <% previous_group = group %>
                <% group_counter = group_counter + 1 %>

            <% end %>

            <tr id="issue-<%= issue.id %>" class="hascontextmenu <%= cycle('odd', 'even') %> <%= issue.css_classes %> <%= level > 0 ? "idnt idnt-#{level}" : nil %>">
              <td class="checkbox hide-when-print"><%= check_box_tag("ids[]", issue.id, false, :id => nil) %></td>
              <% query.inline_columns.each do |column| %>
                <td class="<%= column.css_classes%>">
                  <% proj = issue.project  %>
                  <% if InlineHelper.define_type(column) == :uneditable_field %>
                      <%= column_content(column, issue) %>
                  <% elsif InlineHelper.define_type(column) == :select %>
                    <%= best_in_place issue, InlineHelper.replace_attributes_name(column.name), :type => :select, :collection => InlineHelper.get_collection(column.name, proj.id),
                                      :path => issues_inline_path(issue, :project_id => proj.id), :data => {:simple_value => issue.send(column.name).try(:name), :id => issue.id}
                    %>
                  <% elsif InlineHelper.define_type(column) == :bool %>
                    <%= best_in_place issue, column.name, :type => :checkbox, :collection => ["No", "Yes"],
                                        :path => issues_inline_path(issue, :project_id => proj.id), :simple_value => issue.send(column.name) ? "Yes" : "No", :need_object_value => false, :data => {:id => issue.id}%>
                  <% elsif InlineHelper.define_type(column) == :custom_field %>
                    <% if InlineHelper.find_custom_value_object(issue, column) %>
                      <%= best_in_place (InlineHelper.find_custom_value_object(issue, column)), :value, InlineHelper.generate_bip_params(issue, column, true) %>
                    <% else %>
                      <%= best_in_place CustomValue.new, :value, InlineHelper.generate_bip_params(issue, column, true) %>
                    <% end %>
                  <% elsif [:due_date, :start_date].include?(column.name) %>
                      <%= best_in_place issue, column.name.to_sym, :type => :date,
                                                 :path => issues_inline_path(issue, :project_id => proj.id), :inner_class => 'date_field', :activator => "#issue_#{issue.id}_#{column.name.to_s}", :data => {:id => issue.id}%>
                      <%= image_tag 'calendar.png', :plugin => 'redmine_edit_issues_inline', :class => 'ui-datepicker-trigger', :id => "issue_#{issue.id}_#{column.name.to_s}" %>
                  <% elsif InlineHelper.define_type(column) == :input %>
                      <% if column.name == :subject %>
                        <%= best_in_place issue, column.name.to_sym, :type => :input, :path => issues_inline_path(issue, :project_id => proj.id), :data => {:id => issue.id, :value => issue.send(column.name)},
                                          :activator => "#issue-#{issue.id}-subject", :acts_as => :link, :link_path => issue_path(issue), :inner_class => "subject_input", :classes => "subject_link"%>
                        <%= image_tag 'pencil12.gif', :plugin => 'redmine_edit_issues_inline', :style => 'float:right; display:none;', :id => "issue-#{issue.id}-subject" %>
                      <% else %>
                        <%= best_in_place issue, column.name.to_sym, :type => :input, :path => issues_inline_path(issue, :project_id => proj.id), :data => {:id => issue.id}%>
                      <% end %>
                  <% end %>
                </td>
              <% end %>
            </tr>
            <% @query.block_columns.each do |column|
              if (text = column_content(column, issue)) && text.present? -%>
                    <tr class="<%= current_cycle %>">
                      <td colspan="<%= @query.inline_columns.size + 1 %>" class="<%= column.css_classes %>"><%= text %></td>
                    </tr>
                <% end -%>
            <% end -%>
        <% end -%>
        </tbody>
      </table>

    </div>
<% end -%>
<p style="color:red; float:right;">Page: tasks - <%= @issues.count%><%= InlineHelper.page_issues_status(@issues)%> <%= %></p>
<div class="clearfix" style="clear:both"></div>

<div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div>


<script>
  $('#query_form_with_buttons').find('p.buttons').append('<p style="color:red; margin-left: 46%; display: inline;">Query: tasks - <%= @query.issues(:include => [:assigned_to, :tracker, :priority, :category, :fixed_version]).count%><%= InlineHelper.page_issues_status(@query.issues(:include => [:assigned_to, :tracker, :priority, :category, :fixed_version]))%> </p>');

  <% if @query.grouped? %>
      var group = 0;
      <% issues_list.each do |k, v| %>
        $('#group-<%= k %>').find('td').append('<p style="color:red; float:right;">Grouped: tasks - <%= v.count%><%= InlineHelper.page_issues_status(v)%></p>');
        group = group + 1;
      <% end %>
  <% end %>
</script>